[submodule "pack/plugin/start/auto-pairs"]
	path = pack/plugin/start/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
[submodule "pack/plugin/start/repeat"]
	path = pack/plugin/start/repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "pack/plugin/start/vim-commentary"]
	path = pack/plugin/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "pack/plugin/start/vim-repeat"]
	path = pack/plugin/start/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "pack/plugin/start/vim-surround"]
	path = pack/plugin/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "pack/plugin/start/rust.vim"]
	path = pack/plugin/start/rust.vim
	url = https://github.com/rust-lang/rust.vim.git
[submodule "pack/plugin/start/vim-renamer"]
	path = pack/plugin/start/vim-renamer
	url = https://github.com/qpkorr/vim-renamer.git
[submodule "pack/coc/start/coc.nvim"]
	path = pack/coc/start/coc.nvim
	url = https://github.com/neoclide/coc.nvim.git
[submodule "pack/themes/start/vim"]
	path = pack/themes/start/vim
	url = https://github.com/dracula/vim.git
